.detail {
    margin: 1% auto;
    padding: 1% 2% 2% 2%;
    width: 98%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
}

.detailCont-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}

.detailCont-header h1 {
    color : #326ada;
    font-size: 1.5em;
}

.detailCont-header h4 {
    font-size: 1.2em;
    color: #326ada;
}

.detailCont-header h4 span {
    color :#002369;
    font-size: 0.8em;
}

.detail-desc {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    justify-content: center;
    gap: 2em;
    width: 100%;
    height: 100%;
}

.detail-desc-cont {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    height: 100%;
}


.desc-img img {
    width: 80%;
    height: 80%;
}

.detail-desc-text {
    color :black;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.detail-desc-text h2 {
    color :#002369;
    font-family: montserratarm-regular,sans-serif;
    margin-top: 1em;
    font-size: 1.7em;
}

.detail-desc-text h4 {
    font-family: montserratarm-regular,montserrat;
    margin-top: 0.5em;
    color :#8a8e91;
    font-size: 1em;
}

.detail-desc-text h4 span {
    color :#002369;
}

.detail-desc-text p {
    color :#aab9c3;
    margin-top: 1em;
    font-size: 1.2em;
}

.detail-info {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 30em;
}

.date-cont {
    font-size: 1em;
    display: flex;
    flex-direction: column;
}

.date-cont div {
    display: flex;
}

.date-cont h3 {
    color:#002369;
    font-size: 1em;
}

.date-cont h3 span {
    color : blue;
}

@media screen and (max-width: 768px) {
    .detail-desc-cont{
       display: grid;
    }
    .detailCont {
        /* flex-direction: column; */
        display: grid;
        grid-template-columns: 1fr;
        gap:3em;
        font-size: 12px;
    }

    .detail-desc {
        gap:2em;
    }
}